.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(0.1rem);
  z-index: 999;
}

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background: #f2f2f2;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  flex-direction: column;
  overflow: hidden;
}

.settings-modal, .settings-modal * {
  font-family: 'Inter', Arial, sans-serif !important;
}

.settings-modal, .settings-overlay {
  display: none;
}

.settings-modal.active {
  display: flex;
}

.settings-overlay.active {
  display: block;
}

.settings-header {
  background: #4a9b79;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: bold;
  position: relative;
}

.settings-header h2 {
  font-size: 2.5rem;
  height: 3rem;
  margin: 0;
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.settings-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.settings-section {
  background: #cdcdcd;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.settings-section h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  height: 2rem;
}

.option-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*margin-top: 1rem;*/
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.option-group > span {
  text-align: left;
  /*min-width: 7.5rem;*/
  font-size: 1.25rem;
}

.button-group {
  display: flex;
  width: 27rem;
}

.button {
  background: #b4b4b4;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  flex: 1;
  font-size: 1.25rem;
}

.button.left {
  border-radius: 1.5rem 0 0 1.5rem;
}

.button.middle {
  border-radius: 0;
}

.button.right {
  border-radius: 0 1.5rem 1.5rem 0;
}

.button:hover {
  background: #9a9a9a;
}

.logout-button {
  background: #e14a4a;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 50%;
  height: 4rem;
  margin: 0 auto 0 auto;
  display: block;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.logout-button:hover {
  background: #c63d3d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 2.5rem;
}

.switch input { 
  display: none; 
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #9a9a9a;
  transition: .4s;
  border-radius: 1.5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #e6e6e6;
  transition: .4s;
  border-radius: 1.5rem;
}

input:checked + .slider {
  background-color: #4a9b79;
}

input:checked + .slider:before {
  transform: translateX(6.5rem);
}